name: Release

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: devkitpro/devkita64

    steps:
    - name: Checkout project
      uses: actions/checkout@master
      with:
        submodules: recursive

    - name: Build project
      run: |
          git config --global --add safe.directory `pwd` && \
          sudo -E apt install -y libfreetype6-dev
          git submodule update --remote && make -j2;
          ls -la * 
          echo "tag_name=$(date +%Y%m%d)" >> $GITHUB_ENV
    - name: Upload artifacts
      uses: actions/upload-artifact@v4
      with:
        path: ./out/*.nro
        
    - name: Upload release
      uses: svenstaro/upload-release-action@v2
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        file: ./out/*.nro
        tag: ${{ env.tag_name }}
        overwrite: true
        file_glob: true
