name: Release

on:
  push:
    branches: [ master ]
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build_and_release:
    name: Build and release
    runs-on: ubuntu-latest
    container: registry.cn-hangzhou.aliyuncs.com/mozt/devkita64:1.1

    steps:
      - name: Checkout latest code
        uses: actions/checkout@v4.2.2
        with:
          ref: master
          clean: true
          fetch-depth: 0
          fetch-tags: true
          submodules: recursive

      - name: Setup ENV parameters
        run: |
          VER_FILE=Makefile
          NAME=$(awk '/^TARGET/{print $3}' $VER_FILE)
          VERSION=$(make -f $VER_FILE -pn | awk -F'= ' '/^APP_VERSION =/ {print $2; exit}')
          echo "TAG=${VERSION}" >> "${GITHUB_ENV}"
          echo "APP_NAME=${NAME}" >> "${GITHUB_ENV}"
          echo "RELEASE_NAME=${NAME} ${VERSION}" >> "${GITHUB_ENV}"
        shell: bash

      - name: Build
        run: |
          git config --global --add safe.directory `pwd` && \
          sudo dkp-pacman -S --noconfirm switch-freetype && \
          export PKG_CONFIG_PATH=/opt/devkitpro/portlibs/switch/lib/pkgconfig && \
          pkg-config --cflags freetype2 && \
          pkg-config --libs freetype2 && \
          git submodule update --remote && make -j$(nproc);
          ls -la *
        shell: bash

      - name: Upload Release Asset
        uses: softprops/action-gh-release@v2.0.9
        with:
          name: ${{ env.RELEASE_NAME }}
          tag_name: ${{ env.TAG }}
          draft: false
          prerelease: false
          generate_release_notes: yes
          make_latest: true
          files: |
            ./SdOut/${{ env.APP_NAME }}.zip
