name: Release-20251117

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    container: registry.cn-hangzhou.aliyuncs.com/mozt/devkita64:1.1

    steps:
      - name: Checkout project
        uses: actions/checkout@master
        with:
          submodules: recursive

      - name: Extract version from Makefile
        run: |
          VERSION_MAJOR=$(awk '/^VERSION_MAJOR :=/ {print $3}' Makefile)
          VERSION_MINOR=$(awk '/^VERSION_MINOR :=/ {print $3}' Makefile)
          VERSION_MICRO=$(awk '/^VERSION_MICRO :=/ {print $3}' Makefile)
          APP_VERSION="${VERSION_MAJOR}.${VERSION_MINOR}.${VERSION_MICRO}"
          echo "APP_VERSION=${APP_VERSION}" >> $GITHUB_ENV
          echo "tag_name=${APP_VERSION}" >> $GITHUB_ENV
          echo "Extracted version: ${APP_VERSION}"
          echo "Tag name: ${tag_name}"
        shell: bash

      - name: Build project
        run: |
          git config --global --add safe.directory `pwd` && \
          sudo dkp-pacman -S --noconfirm switch-freetype && \
          export PKG_CONFIG_PATH=/opt/devkitpro/portlibs/switch/lib/pkgconfig && \
          pkg-config --cflags freetype2 && \
          pkg-config --libs freetype2 && \
          git submodule update --remote && make -j$(nproc);
          ls -la *
        shell: bash

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: HekateToolbox ${{ env.APP_VERSION }}
          path: ./out/*.nro

      - name: Upload release
        uses: svenstaro/upload-release-action@v2
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          file: ./out/*.nro
          tag: ${{ env.tag_name }}
          release_name: Hekate Toolbox v${{ env.APP_VERSION }}
          overwrite: true
          file_glob: true
